<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Meta.Title}}</title>
</head>
<body>
  <article>
    <h1>{{.Meta.Title}}</h1>
    <time>{{formatDate .Meta.Date}}</time>
    {{.Body}}
  </article>
    <aside>
        {{range $tag, $pages := .Collections}}                                                                                                                                                    
        <h2>{{$tag}}</h2>                                                                                                                            
        {{range $pages}}                                                                                                                                                                        
          <p>{{.Meta.Title}}</p>                                                                                                                                                                
        {{end}}                                                                                                                                                                                 
      {{end}}    
    </aside>
</body>
</html>
